.button {
  min-width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  border-color: #968cff;
  background-color: #fff;
  margin: 0.4rem;
  cursor: pointer;

  @media (min-width: 768px) {
    min-width: 2.4rem;
    height: 2.4rem;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  border: 0.1rem solid #dddaff;
  color: #7c72e2;
  background-color: #fff;

  &:hover {
    background-color: #f5f4ff;
  }

  &:disabled {
    background: #f5f4ff;
    opacity: 0.3;
    cursor: default;
  }
}

.icon {
  border: 0.1rem solid #968cff;
  color: #7c72e2;
  background-color: #f5f4ff;

  &:hover {
    background-color: #dddaff;
  }

  &:disabled {
    border-color: #dddaff;
    background: #f5f4ff;
    opacity: 0.3;
    cursor: default;
  }

  svg {
    stroke-width: 0.4rem;
  }
}

.separator {
  border: 0;
  background-color: transparent;
  cursor: default;

  &:disabled {
    opacity: 0.3;
  }
}

.selected {
  font-weight: 700;
  color: #fff;
  background-color: #968cff;
  border-color: #5e58a5;

  &:hover {
    background-color: #968cff;
  }

  &:disabled {
    color: #7c72e2;
    background: #f5f4ff;
    opacity: 0.3;
    border-color: #968cff;
    cursor: default;
  }
}
